.App {
    text-align: center;
    display: grid;
    grid-template-areas:'hl hr''n n''f f';
    /*grid-template-rows: 1000px 5%;*/
    width: 1250px;
    grid-template-columns: 95% 5%;
    padding: 5px;
    margin: 0 auto;
}

.headerL {
    background: #0048ff;
    display: grid;
    grid-area: hl;
}

.headerR {
    display: grid;
    grid-area: hr;
}

.n {
    background: yellow;
    display: grid;
    grid-area: n;
}

.f {
    background: #120afa;
    color: #fdfdfd;
    display: grid;
    grid-area: f;
}

body[theme-data='light'] {
    background: white;
}


body[theme-data='dark'] {
    background: black;
    color: white;
}

.Pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 1.5rem;

}

.pageNum {
    padding: 8px 15px;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
}

a.active {
    background-color: #fdfdfd;
    color: #000000;
}

.image {
    padding: 1px;
}